<div class="flexcontainer container">
  <div class="text">

    <h2>Team</h2>
    <div class="team-container">
      <div class="flexcontainer team-sub-container">
        <img class="member-image" src="./assets/images/florianlorisch.png"/>
        <div>
          <h2>Florian Lorisch
            <span class="social-delimiter">|</span>
            <a href="https://www.linkedin.com/in/florianlorisch/" target="_blank">
              <mat-icon svgIcon="linkedin" class="social-icon"></mat-icon>
            </a>
            <a href="https://github.com/florianlorisch" target="_blank">
              <mat-icon svgIcon="github" class="social-icon"></mat-icon>
            </a>
          </h2>
          Data Scientist, Consultant
        </div>
      </div>
      <div class="flexcontainer team-sub-container">
        <img class="member-image" src="./assets/images/leonschlote.png"/>
        <div>
          <h2>Leon Schlote
            <span class="social-delimiter">|</span>
            <a href="https://www.linkedin.com/in/leon-schlote/" target="_blank">
              <mat-icon svgIcon="linkedin" class="social-icon"></mat-icon>
            </a>
            <a href="https://github.com/leonschlote" target="_blank">
              <mat-icon svgIcon="github" class="social-icon"></mat-icon>
            </a>
          </h2>
          Data Scientist, Fullstack Developer
        </div>
      </div>
      <div class="flexcontainer team-sub-container">
        <img class="member-image" src="./assets/images/michaelschwabe.png"/>
        <div>
          <h2>Michael Schwabe
            <span class="social-delimiter">|</span>
            <a href="https://www.linkedin.com/in/michael-s-a911a1164/" target="_blank">
              <mat-icon svgIcon="linkedin" class="social-icon"></mat-icon>
            </a>
            <a href="https://github.com/MichaelSchwabe" target="_blank">
              <mat-icon svgIcon="github" class="social-icon"></mat-icon>
            </a>
          </h2>
          Data Scientist, Machine Learning Enthusiast
        </div>
      </div>
      <div class="flexcontainer team-sub-container">
        <img class="member-image" src="./assets/images/florianschwanz.png"/>
        <div>
          <h2>
            Florian Schwanz
            <span class="social-delimiter">|</span>
            <a href="https://de.linkedin.com/in/florian-schwanz-654607141" target="_blank">
              <mat-icon svgIcon="linkedin" class="social-icon"></mat-icon>
            </a>
            <a href="https://github.com/florianschwanz" target="_blank">
              <mat-icon svgIcon="github" class="social-icon"></mat-icon>
            </a>
          </h2>
          Data Scientist, Fullstack Developer, Agile Coach
        </div>
      </div>
    </div>

    <h2>Kontakt</h2>
    <div class="contact-container">
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="email_outline" class="contact-icon"></mat-icon>
        <a href="mailto:kontakt@openpublictransport.de" target="_blank">kontakt@openpublictransport.de</a>
      </div>
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="twitter" class="contact-icon"></mat-icon>
        <a href="https://twitter.com/opnpblctrnsprt" target="_blank">@opnpblctrnsprt</a>
      </div>
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="linkedin" class="contact-icon"></mat-icon>
        <a href="https://www.linkedin.com/company/open-public-transport" target="_blank">open-public-transport</a>
      </div>
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="github" class="contact-icon"></mat-icon>
        <a href="https://github.com/open-public-transport" target="_blank">open-public-transport</a>
      </div>
    </div>

    <div class="flexcontainer">
      <div class="flexbox"></div>
      <img class="logo-funding" src="./assets/logos/logo-bmbf.svg"/>
      <img class="logo-funding" src="./assets/logos/logo-ptf.svg"/>
      <div class="flexbox"></div>
    </div>

  </div>
</div>
