<app-toolbar class="fixed">
</app-toolbar>
<div class="flexcontainer container">
  <div class="text">

    <h2>Kontakt</h2>
    <div class="contact-container">
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="email_outline" class="contact-icon"></mat-icon>
        <a href="mailto:kontakt@openpublictransport.de" target="_blank">kontakt@openpublictransport.de</a>
      </div>
      <div class="flexcontainer contact-sub-container">
        <mat-icon svgIcon="twitter" class="contact-icon"></mat-icon>
        <a href="https://twitter.com/opnpblctrnsprt" target="_blank">@opnpblctrnsprt</a>
      </div>
    </div>

    <div class="flexcontainer">
      <div class="flexbox"></div>
      <img class="logo-funding" src="./assets/logos/logo-bmbf.svg"/>
      <img class="logo-funding" src="./assets/logos/logo-ptf.svg"/>
      <div class="flexbox"></div>
    </div>

  </div>
</div>
