.container {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100vh;
}

.toolbar-spacer {
  height: 64px;
}

.city-container, .transport-container {
  padding: 16px;

  width: 75%;
}

.city-button {
  margin: 8px;
}

.transport-button {
  margin: 8px;
  height: 24px;
  width: 24px;
}

.grey {
  filter: grayscale(100%);
}
