<div class="container">
  <div class="toolbar-spacer">
  </div>
  <div class="city-container">
    <span *ngFor="let city of cities">
      <button *ngIf="selectedCity == null || city.name != selectedCity.name" mat-stroked-button color="primary" class="city-button"
              (click)="onCityButtonClicked(city)">
        {{ city.name }}
      </button>
      <button *ngIf="selectedCity != null && city.name == selectedCity.name" mat-flat-button color="primary" class="city-button"
              (click)="onCityButtonClicked(city)">
        {{ city.name }}
      </button>
    </span>
  </div>
  <div class="transport-container" *ngIf="selectedCity != null">
    <span *ngFor="let transport of selectedCity.publicTransportTypes">
      <button mat-button (click)="onTransportButtonClicked(transport, !selectedTransport.get(transport))">
        <img class="transport-button" alt=""
             [src]=getTransportLogo(transport) [class.grey]="!selectedTransport.get(transport)" />
      </button>
    </span>
  </div>
</div>
