.container {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100vh;
}

.toolbar-spacer {
  height: 64px;
}

.city-container {
  padding: 16px;
}

.city-button {
  margin: 8px;
}
