@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../theme';

.container {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  height: 100vh;
}

.toolbar-spacer {
  height: 64px;
}

.city-container, .transport-container {
  padding: 16px;

  width: 75%;
}

.container-label {
  color: mat.get-color-from-palette($transport-primary, 600) !important;
  margin: 8px;
}

.city-button, .transport-button {
  margin: 8px;
}

.transport-container .mat-stroked-button {
  padding: 0 !important;
}

.transport-icon {
  margin: 4px;
  height: 24px;
  width: 24px;
}

.light-grey {
  filter: grayscale(100%) brightness(200%) !important;
}

.grey {
  filter: grayscale(100%);
}
