@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../flex';
@import '../../../../../theme';

.container {
  margin: 26px;
}

.radar-chart, .tabs-container {
  height: 50vh;
  width: 50%;
}

.tab-container {
  padding-top: 32px;
}

.tab-active-left {
  ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: mat.get-color-from-palette($mat-u1, 500) !important;
    background-color: mat.get-color-from-palette($mat-u1, 50) !important;
  }

  ::ng-deep .mat-ink-bar {
    background-color: mat.get-color-from-palette($mat-u1, 500) !important;
  }
}

.tab-active-right {
  ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: mat.get-color-from-palette($mat-u3, 500) !important;
    background-color: mat.get-color-from-palette($mat-u3, 50) !important;
  }

  ::ng-deep .mat-ink-bar {
    background-color: mat.get-color-from-palette($mat-u3, 500) !important;
  }
}
