<div>
  In 15 Minuten erreicht man von {{ placeName }} zu Fuß
  <ul class="list">
    <li *ngFor="let publicTransportType of publicTransportTypes">
      <button mat-button>
        <img class="transport-button" alt="" [src]="getTransportLogo(publicTransportType)"/>
      </button>
      <span *ngIf="getStationInformation(publicTransportType) != null && getStationInformation(publicTransportType).absolute_station_count.raw_value != null">
        {{ getStationInformation(publicTransportType).absolute_station_count.raw_value }}
        Haltestellen
      </span>
      <span *ngIf="getLineInformation(publicTransportType) != null && getLineInformation(publicTransportType).absolute_line_count.raw_value != null">
          , {{ getLineInformation(publicTransportType).absolute_line_count.raw_value }}
        Linien
      </span>
    </li>
  </ul>
  <span *ngIf="getBikeInformation() != null">
  {{ getBikeInformation().bike_infrastructure_percentage }}% der Straßen im Umkreis von {{ placeName }} sind mit
  Fahrradinfrastruktur ausgestattet.
  </span>
</div>
