<div>
  In 15 Minuten erreicht man von {{ placeName }} zu Fuß
  <ul class="list">
    <li *ngFor="let transport of publicTransport">
      <button mat-button>
        <img class="transport-button" alt="" [src]="getTransportLogo(transport)"/>
      </button>
      <span *ngIf="getStationInformation(transport) != null">
        {{ getStationInformation(transport).absolute_stations_count.raw_value }}
        Haltestellen
      </span>
      <span *ngIf="getLineInformation(transport) != null">
          , {{ getLineInformation(transport).absolute_line_count.raw_value }}
        Linien
      </span>
    </li>
  </ul>
  <span *ngIf="getBikeInformation() != null">
  {{ getBikeInformation().bike_infrastructure_percentage }}% der Straßen im Umkreis von {{ placeName }} sind mit
  Fahrradinfrastruktur ausgestattet.
  </span>
</div>
