@import '../../../../../flex';

.selection-outer-container {
  height: calc(90vh - 64px);

  .selection-container, .button-container {
    position: absolute;

    width: 100%;
    height: 60vh;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    .vs-button {
      font-size: 2em;
      font-weight: 600;
      width: 84px;
      height: 84px;
    }
  }

  .place-selection {
    width: 50vw;
  }
}

.overview-outer-container {
  height: calc(90vh - 64px);

  .overview-container {
    width: 100%;
    height: 60vh;
  }

  .container-headline {
    margin: 26px;
  }
}

.stations-outer-container {
  height: calc(90vh - 64px);

  .stations-container {
    width: 100%;
    height: 60vh;
  }

  .container-headline {
    margin: 26px;
  }

  .place-stations {
    width: 50vw;
  }
}
