<ng-container *transloco="let t, lang: lang; read: 'pages.about'">
  <div class="flexcontainer container">
    <div class="text">
      <h2>{{ t('problem-statement-title') }}</h2>
      <p>{{ t('problem-statement-text-1') }}</p>
      <p>{{ t('problem-statement-text-2') }}</p>

      <h2>{{ t('approach-title') }}</h2>
      <p>{{ t('approach-text-1') }}</p>
      <p>{{ t('approach-text-2') }}</p>

      <h2>{{ t('audience-title') }}</h2>
      <p>{{ t('audience-text-1') }}</p>

      <h2>{{ t('funding-title') }}</h2>
      <p [innerHTML]="'pages.about.funding-text-1' | transloco "></p>

      <div class="flexcontainer">
        <div class="flexbox"></div>
        <img class="logo-funding" src="./assets/logos/logo-bmbf.svg"/>
        <img class="logo-funding" src="./assets/logos/logo-ptf.svg"/>
        <div class="flexbox"></div>
      </div>

    </div>
  </div>
</ng-container>
