<div class="flexcontainer container">
  <div class="text">
    <h2>Problemstellung</h2>
    <p>
      Städte stehen vor der Herausforderung, die Verkehrswende erfolgreich zu gestalten. Dies kann nur durch die
      gezielte
      Stärkung des ÖPNV gelingen. Die hohe Komplexität des ÖPNV erschwert dabei die erfolgreiche Planung, Durchführung
      und
      Kommunikation notwendiger Infrastrukturprojekte. Unser Projekt adressiert zwei zentrale Herausforderungen bei der
      Neugestaltung der urbanen Mobilität.
    </p>
    <p>
      Ein straßengenauer Erreichbarkeitsindex ermöglicht es Politiker*innen und Städteplaner*innen, die Planung von
      Infrastrukturprojekten durch die Nutzung von Daten zu verbessern. Die Aufbereitung der Analyseergebnisse als
      interaktive und öffentlich zugängliche Web-App ermöglicht es Bürger*innen die Notwendigkeit von
      Infrastrukturprojekten besser nachvollziehen zu können.
    </p>
    <p>
      Die Web-App ermöglicht es Bürger*innen zudem Vorschläge für Infrastrukturprojekte in der eigenen Stadt zu machen,
      sodass Politik und Bürger*innen bei der Gestaltung der Verkehrswende kooperieren können. So kann der Kritik
      hinsichtlich unzureichender Planung und Interaktion mit Bürger*innen, die im Zuge der Umsetzung des Berliner
      Mobilitätsgesetztes zu beobachten ist, entgegengewirkt werden.
    </p>

    <h2>Ansatz</h2>
    <p>
      Ziel des Projekts ist es, Schwachstellen in der ÖPNV-Infrastruktur anhand von Mobilitätsdaten, Geodaten und
      Populationsdaten zu identifizieren, aufzubereiten und zugänglich zu machen, um so einen Beitrag zur Verkehrswende
      zu leisten. Dafür werden detaillierte Datenanalysen der Anbindungsqualität in Städten erstellt. Die Erkenntnisse
      werden leicht verständlich mithilfe interaktiver Karten und einem transparenten Erreichbarkeitsindex in einer
      Web-App aufbereitet.
    </p>
    <p>
      Das Projekt wird entlang des Cross Industry Standard Process for Data Mining (CRISP) umgesetzt. Während der Phasen
      Business Understanding und Data Understanding werden mehrere, frei verfügbare Datenquellen (beispielsweise
      DB/Flinkster, Uber, OpenStreetMap, mCloud) aggregiert und analysiert. Diese Daten werden im Zuge der Data
      Preparation aufbereitet und angereichert. In der Modellierungsphase wird die Datenbasis genutzt, um einen
      Erreichbarkeitsindex auf Basis der relativen Erreichbarkeit zufällig ausgewählter Punkte zu entwickeln. Die
      Modellentwicklung erfolgt in Python.
    </p>
    <p>
      Während der Evaluation werden die Analyseergebnisse mit für Bürger*innen relevanten Orten abgeglichen, um wichtige
      Schwachstellen im ÖPNV-Netz zu identifizieren und zu clustern. Die Ergebnisse werden mithilfe einer Web-App
      interaktiv zugänglich gemacht.
    </p>

    <h2>Adressaten</h2>
    <p>
      Das Projekt adressiert Bürger*innen sowie politische Entscheider*innen, die für die Gestaltung der Verkehrswende
      in deutschen Städten verantwortlich sind. Durch die Entwicklung weiterer Analyseansätze und
      Planungsfunktionalitäten sollen auch Stadtplaner*innen und Forscher*innen im Bereich der urbanen Mobilität
      angesprochen werden.
    </p>

    <h2>Förderung</h2>
    <p>
      Die intensive Arbeit an Open Public Transport ist nur möglich, weil wir durch den <a
      href="https://prototypefund.de/">Prototype Fund</a> gefördert wurden. Open Public Transport wird mit Mitteln des
      <a href="https://www.bmbf.de/">Bundesministeriums für Bildung und Forschung</a> unter dem Förderkennzeichen
      01IS21S44 gefördert. Die Verantwortung für den Inhalt dieser
      Veröffentlichung liegt bei den Autoren.
    </p>

    <div class="flexcontainer">
      <div class="flexbox"></div>
      <img class="logo-funding" src="./assets/logos/logo-bmbf.svg"/>
      <img class="logo-funding" src="./assets/logos/logo-ptf.svg"/>
      <div class="flexbox"></div>
    </div>

  </div>
</div>
