<div class="map-container">
  <app-map [id]=mapId
           [height]="mapHeight"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]="11.5"
           [flyToLocation]="center"
           [markers]="markers"
           [results]="results"
           [geocoderMarkerColor]="geocoderMarkerColor"
           [interactiveEnabled]=false
           [navigationControlEnabled]=true>
  </app-map>
</div>
<div *ngIf="placeMetrics != null" class="card-container">
  <div class="metrics-card flexcontainer" *ngFor="let publicTransportType of publicTransportTypes">
    <div *ngIf="getStationInformation(publicTransportType) != null || getLineInformation(publicTransportType) != null" class="metrics">
      <button mat-button>
        <img class="transport-button" alt="" [src]="getTransportLogo(publicTransportType)"/>
      </button>
      <h3>
      <span *ngIf="getStationInformation(publicTransportType) != null && getStationInformation(publicTransportType).absolute_station_count.raw_value != null">
        {{ getStationInformation(publicTransportType).absolute_station_count.raw_value }}
        Haltestellen
      </span>
        <span *ngIf="getLineInformation(publicTransportType) != null && getLineInformation(publicTransportType).absolute_line_count.raw_value != null">
          , {{ getLineInformation(publicTransportType).absolute_line_count.raw_value }}
          Linien
      </span>
      </h3>
    </div>
  </div>
</div>
