<div class="map-container">
  <app-map [id]=mapId
           [height]="mapHeight"
           [style]="mapBoxStyleEnum.LIGHT_V10"
           [zoom]="11.5"
           [flyToLocation]="center"
           [markers]="markers"
           [results]="results"
           [geocoderMarkerColor]="geocoderMarkerColor"
           [interactiveEnabled]=false>
  </app-map>
</div>
<div *ngIf="placeMetrics != null" class="card-container">
  <div class="metrics-card flexcontainer" *ngFor="let transport of publicTransport">
    <div *ngIf="getStationInformation(transport) != null || getLineInformation(transport) != null" class="metrics">
      <button mat-button>
        <img class="transport-button" alt="" [src]="getTransportLogo(transport)"/>
      </button>
      <h3>
      <span *ngIf="getStationInformation(transport) != null">
        {{ getStationInformation(transport).absolute_stations_count.raw_value }}
        Haltestellen
      </span>
        <span *ngIf="getLineInformation(transport) != null">
          , {{ getLineInformation(transport).absolute_line_count.raw_value }}
          Linien
      </span>
      </h3>
    </div>
  </div>
</div>
