<ng-container *transloco="let t, lang: lang; read: 'pages.imprint'">
  <div class="flexcontainer container">
    <div class="text">
      <h1>{{ t('title') }}</h1>
      <h2>{{ t('information') }}</h2>
      <p>Florian Schwanz</p>
      <p>Manteuffelstraße 71</p>
      <p>10999 Berlin</p>
      <h2>{{ t('contact') }}</h2>
      <p>{{ t('email') }}: <a href="mailto:kontakt@openpublictransport.de" target="_blank">kontakt@openpublictransport.de</a></p>
      <h2>{{ t('editorially-responsible') }}</h2>
      <p>Florian Schwanz</p>
      <p>Manteuffelstraße 71</p>
      <p>10999 Berlin</p>

      <h2>{{ t('disclaimer.title') }}</h2>
      <h3>{{ t('disclaimer.liability-for-content.title') }}</h3>
      <p>{{ t('disclaimer.liability-for-content.text-1') }}</p>
      <p>{{ t('disclaimer.liability-for-content.text-2') }}</p>
      <h3>{{ t('disclaimer.liability-for-links.title') }}</h3>
      <p>{{ t('disclaimer.liability-for-links.text-1') }}</p>
      <p>{{ t('disclaimer.liability-for-links.text-2') }}</p>
      <h3>{{ t('disclaimer.data-protection.title') }}</h3>
      <p>{{ t('disclaimer.data-protection.text-1') }}</p>
      <p>{{ t('disclaimer.data-protection.text-2') }}</p>
    </div>
  </div>
</ng-container>
