@import '../../../../../flex';

.container {
  padding-top: 128px;
  align-items: center;
  justify-content: center;
}

.text {
  max-width: 960px;
  margin: 32px;
}

.logo-funding {
  max-width: 200px;
  margin: 8px;
}

h2 {
  margin-top: 32px;
  text-transform: uppercase
}
