@use '../../../../node_modules/@angular/material/index' as mat;
@import '../../../sizes';
@import '../../../theme';

//
// Custom
//

.toolbar {
  background: transparent;
}

.toolbar-menu-item {
  vertical-align: top;

  @media #{$breakpoint-small} {
    padding: 0 10px;
  }
  @media #{$breakpoint-medium} {
    padding: 0 10px;
  }
  @media #{$breakpoint-large} {
    padding: 0 20px;
  }
}

.toolbar-menu-item-active {
  color: mat.get-color-from-palette($transport-primary, 600) !important;;
  background-color: mat.get-color-from-palette($transport-primary, 50) !important;;
  //border-bottom: 2px solid mat.get-color-from-palette($transport-primary, 700) !important;;
}

.toolbar-block {
  padding-left: 10px;
  padding-right: 10px;
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

#logo {
  height: 52px;
  vertical-align: middle;
}

//
// Material
//

mat-toolbar {
  background-color: white !important;
  // box-shadow: 0 3px 5px -1px rgba(250, 250, 250, 1.2), 0 6px 10px 0 rgba(250, 250, 250, 1.14), 0 1px 18px 0 rgba(250, 250, 250, 1.12);
  box-shadow: 0 0 0 0 transparent !important;
  font-weight: bolder;
}

mat-toolbar {
  @media #{$breakpoint-small} {
    padding: 0 !important;
  }
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100% !important;
}
