@import '../../../../../flex';

.map-container {
  margin: 26px;
  height: 100%;
}

.card-container {
  margin: -175px 15px;

  .spider-diagram {
    height: 75px;
    width: 75px;
    margin-right: 10px;
  }

  .mobility-index {
    font-size: 3em;
    margin-top: 25px;
  }
}
