@import '../../../../../flex';

.map-container {
  margin: 26px;
  height: 100%;
}

.card-container {
  margin: -175px 15px;

  .radar-chart {
    height: 125px;
    width: 250px;
    margin: -25px -50px 0 -75px;
  }

  .mobility-index {
    font-size: 3em;
    margin-top: 25px;
  }
}
